
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}
main{
  width: 100%;
  height: 100vh;
  padding: 5px;
}
.contenedor-calendario{
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

}
.mes{
  display: grid;
  grid-template-columns: repeat(7,1fr);
  grid-template-rows: auto;
  list-style: none;
  grid-gap: 5px;
  
}
.Fecha{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 5px;
  font-size: 1.1rem;
}
.title-mes{
  width: 100%;
  padding: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: left;
}
.dia{
  height: 80px;
  background-color: blueviolet;
  display: flex;
  justify-content: flex-start;
  text-align: left;
  padding: 10px;
  transition: all 0.1s ease-in-out;
  border-radius: 3px;
}

.dia:hover{
  scale: 1.1;
  background-color: brown;
}